html {
  width: fit-content;
}

body {
  margin: 0 auto;
  font-family: 'Comfortaa', sans-serif;
  max-width: 1600px;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
  color: #d91e32;
}

.main-container {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 20px;
  text-align: center;
  font-size: 0.8rem;
}

.main-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-1{
  background-color: rgb(217, 30, 50, 0.5);
  color: white;
  font-weight: 700;
}

.row-1:hover {
  cursor: pointer;
  background-color: rgb(217, 30, 50, 0.8);
}

.row-2:hover, 
.row-3:hover,
.row-4:hover,
.row-5:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2);
  font-weight: 700;
}

.col-1 {
  grid-column: 1/2;
}

.col-2 {
  grid-column: 2/3;
}

.col-3 {
  grid-column: 3/4;
}

.col-4 {
  grid-column: 4/5;
}

.col-5 {
  grid-column: 5/6;
}

.row-1 {
  grid-row: 1/2;
}
.row-2 {
  grid-row: 2/3;
}
.row-3 {
  grid-row: 3/4;
}
.row-4 {
  grid-row: 4/5;
}
.row-5 {
  grid-row: 5/6;
}

.top-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  flex-wrap: wrap;
}

.search_container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

input {
  width: 75%;
  margin-left: 5%;
}

button {
  width: fit-content;
  margin-right: 3%;
}

button:hover {
  cursor: pointer;
}

.output {
  width: fit-content;
  margin: 25px auto;

}

@media (min-width: 422px) and (max-width: 691px) {
  .main-container {
    column-gap: 10px;
  }  

}

@media (max-width: 421px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .main-container > div {
    padding: 10px;
  }

  .main-container > .row-1 {
    display: none;
  }

  .row-2 {
    order: 1;
  }

  .row-3 {
    order: 2;
  }

  .row-4 {
    order: 3;
  }

  .row-5 {
    order: 4;
  }

  .col {
    background-color: rgb(217, 30, 50, 0.5);
  }

  .col:hover {
    cursor: pointer;
    background-color: rgb(217, 30, 50, 0.8);
  }

}

@media (max-width: 376px) {
  .search_container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

